
.dataTables_wrapper{
  .dt-buttons{
    float: right;
  }

  .dataTables_scrollHead,
  .dataTables_scrollFoot{
    table{
      margin-bottom: 0 !important;
    }
  }

  .dataTables_scrollFoot{
    overflow-x: hidden !important;
    overflow-y: visible !important;

    tr{
      td, th{
        .btn-group{
          width: 100%;
        }

        .multiselect{
          width: 100%;
        }

        select{
          min-width: 100%;
        }

        input{
          width: 100%;
        }

        .number-range-wrapper{
          input.number-range-min{
            width: 60px;
          }

          input.number-range-max{
            width: 60px;
          }
        }
      }
    }
  }
}


table[data-component=grid-table] thead th{
  white-space: nowrap;
  cursor: pointer;

  i{
    margin-left: 10px;

    &:before{
      text-shadow: 1px 1px 1px #444;
    }
  }
}

.fluid-content{
  float: none;
  position: relative;
  overflow: hidden;
  width: auto;
}

.datetime-picker-wrapper,
.date-range-wrapper{
  width: 150px;

  input{
    width: 100%;
    max-width: 100%;
  }

  .btn-reset{
    float:right;
    width: 34px;
    height: 34px;
    border-radius: 0 3px 3px 0;
    background: #dd4b39;
    color: #fff;
    margin: 0;
    text-align: center;
    line-height: 36px;
    position: relative;
    left: -1px;
    z-index: 10;
    cursor: pointer;

    i{
      color: #fff;
      font-size: 14px;
    }
  }
}

.number-range-wrapper{
  float: left;
  white-space: nowrap;

  input.number-range-min{
    width: 60px;
    margin-right: 5px;
    display:inline-block;
  }

  input.number-range-max{
    width: 60px;
    display:inline-block;
  }
}