.dataTables_wrapper .dt-buttons {
  float: right;
}
.dataTables_wrapper .dataTables_scrollHead table,
.dataTables_wrapper .dataTables_scrollFoot table {
  margin-bottom: 0 !important;
}
.dataTables_wrapper .dataTables_scrollFoot {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}
.dataTables_wrapper .dataTables_scrollFoot tr td .btn-group,
.dataTables_wrapper .dataTables_scrollFoot tr th .btn-group {
  width: 100%;
}
.dataTables_wrapper .dataTables_scrollFoot tr td .multiselect,
.dataTables_wrapper .dataTables_scrollFoot tr th .multiselect {
  width: 100%;
}
.dataTables_wrapper .dataTables_scrollFoot tr td select,
.dataTables_wrapper .dataTables_scrollFoot tr th select {
  min-width: 100%;
}
.dataTables_wrapper .dataTables_scrollFoot tr td input,
.dataTables_wrapper .dataTables_scrollFoot tr th input {
  width: 100%;
}
.dataTables_wrapper .dataTables_scrollFoot tr td .number-range-wrapper input.number-range-min,
.dataTables_wrapper .dataTables_scrollFoot tr th .number-range-wrapper input.number-range-min {
  width: 60px;
}
.dataTables_wrapper .dataTables_scrollFoot tr td .number-range-wrapper input.number-range-max,
.dataTables_wrapper .dataTables_scrollFoot tr th .number-range-wrapper input.number-range-max {
  width: 60px;
}
table[data-component=grid-table] thead th {
  white-space: nowrap;
  cursor: pointer;
}
table[data-component=grid-table] thead th i {
  margin-left: 10px;
}
table[data-component=grid-table] thead th i:before {
  text-shadow: 1px 1px 1px #444;
}
.fluid-content {
  float: none;
  position: relative;
  overflow: hidden;
  width: auto;
}
.datetime-picker-wrapper,
.date-range-wrapper {
  width: 150px;
}
.datetime-picker-wrapper input,
.date-range-wrapper input {
  width: 100%;
  max-width: 100%;
}
.datetime-picker-wrapper .btn-reset,
.date-range-wrapper .btn-reset {
  float: right;
  width: 34px;
  height: 34px;
  border-radius: 0 3px 3px 0;
  background: #dd4b39;
  color: #fff;
  margin: 0;
  text-align: center;
  line-height: 36px;
  position: relative;
  left: -1px;
  z-index: 10;
  cursor: pointer;
}
.datetime-picker-wrapper .btn-reset i,
.date-range-wrapper .btn-reset i {
  color: #fff;
  font-size: 14px;
}
.number-range-wrapper {
  float: left;
  white-space: nowrap;
}
.number-range-wrapper input.number-range-min {
  width: 60px;
  margin-right: 5px;
  display: inline-block;
}
.number-range-wrapper input.number-range-max {
  width: 60px;
  display: inline-block;
}
